* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a.link {
    text-decoration: none;
    color: rgb(0, 0, 104);
    background: #fefeff;
    border-radius: 30px;
    border-width: 120px;
}

p {
    color: rgb(20, 20, 20);
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.custom-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-control:focus, .custom-select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d1bcbc;
    outline: 0;
    box-shadow: 0 0 4px 4px rgb(239, 228, 228);
}
