.button {
    display: inline-block;
    cursor: pointer;
    color: #1a1da1;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-top: 10px;
    margin-top: 10px;
    text-decoration: underline;
}

.about__column {
    flex-basis: 40%;
    min-width: 300px;
}

.about__column img {
    max-width: 100%;
    padding: 50px 0;
}

.about__column h1 {
    font-size: 47px;
    line-height: 60px;
    margin: 25px 0;
    font-family: 'Bebas Neue', cursive;
}