<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Sukhinart Printshop">
    <title>Sukhinart | Printshop</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block styles %}{% endblock %}
</head>

<body>
<!----Page header--->
<div class="header">
    {% block header %}{% endblock %}
</div>

<!----Page content--->
<div class="content">
    {% block content %}{% endblock %}
</div>

<!----Page footer--->
<div class="footer">
    {% block footer %}{% endblock %}
</div>
</body>
</html>
