<link rel="stylesheet" href="/static/css/footer.css">

<div class="container">
    <div class="custom-row">
        <div class="footer-col-1">
            <h3>Leave Your Feedback</h3>
            <p>We will be very pleased to hear your
                opinion on our service!
            </p>
            <div class="elp">
                <img src="/static/img/envelope.png">
            </div>
        </div>
        <div class="footer-col-2">
            <img src="/static/img/logo su.png">
            <p>Embrace Your Creativity</p>
        </div>
        <div class="footer-col-3">
            <h3>Follow Us</h3>
            <ul>
                <li>Instagram</li>
                <li>Artstation</li>
                <li>YouTube</li>
                <li>Support</li>
            </ul>
        </div>
    </div>
</div>