<link rel="stylesheet" href="/static/css/header.css">

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <img src="/static/img/logo su.png" width="600px">
            </a>
        </div>
        <nav>
            <ul>
                <li><a class="link" href="{{ url_for('main_page_view') }}">Home</a></li>
                <li><a class="link" href="{{ url_for('store_page_view') }}">Store</a></li>
                <li><a class="link" href="">About</a></li>
                <li><a class="link" href="">FAQ</a></li>
                <li><a class="link" href="">Account</a></li>
            </ul>
        </nav>

        <div class="cart">
            <a href="{{ url_for('cart_view') }}">
                <img src="/static/img/cart.png" width="30px" height="30px">
            </a>
        </div>
    </div>
</div>